"*":
  "exception-reporting":
    userId: "053e646b-696b-a99a-192c-0791ed3b136e"
  welcome:
    showOnStartup: false
  react: {}
  tabs:
    showIcons: true
    usePreviewTabs: true
    enableVcsColoring: true
  core:
    disabledPackages: [
      "deprecation-cop"
    ]
    themes: [
      "seti-ui"
      "one-dark-syntax"
    ]
    audioBeep: false
    projectHome: "/Users/enric"
    packagesWithKeymapsDisabled: [
      "emmet"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
    showIndentGuide: true
    fontSize: 11
  "save-commands":
    timeout: 5000
    commands: []
  "autocomplete-plus":
    minimumWordLength: 4
  "atom-beautify":
    _analyticsUserId: "24b7ff54-7972-4d6a-b06a-d89d031d0100"
    beautifyEntireFileOnSave: false
    analytics: false
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  nuclide:
    remoteProjectsConfig: []
  "git-plus": {}
  emmet:
    useEmmetComments: false
  "git-blame": {}
  "expand-region": {}
  jshint:
    supportLintingJsx: true
    onlyConfig: true
